<a href="https://colab.research.google.com/github/LizethAlvarezM/DiplomadoCMD/blob/main/Tarea_1_Ejercicios_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicios R

## Capítulo 2: Tipos de Objetos

1. Construya un vector con la primeras 20 letras MAYÚSCULAS usando la función LETTERS.

In [1]:
a <- toupper(c(letters[1:20]))
a

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S"
[20] "T"

2. Construya una matriz de 10 x 10 con los primeros 100 números positivos pares.

In [4]:
numpar<- 0 #contador de número pares para la matriz
num <- -2   #contador de numeros pares obtenidos
hist <- NULL  #vector vacío para almacenar

while (numpar < 101){
  num <- num + 1
  hist[numpar] <- num
  if(num %% 2 == 0){
    numpar <- numpar + 1
  }
}

A <-matrix(data = hist, nrow=10, ncol=10, byrow=FALSE)
A

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,]  2   22   42   62    82  102  122  142  162  182
 [2,]  4   24   44   64    84  104  124  144  164  184
 [3,]  6   26   46   66    86  106  126  146  166  186
 [4,]  8   28   48   68    88  108  128  148  168  188
 [5,] 10   30   50   70    90  110  130  150  170  190
 [6,] 12   32   52   72    92  112  132  152  172  192
 [7,] 14   34   54   74    94  114  134  154  174  194
 [8,] 16   36   56   76    96  116  136  156  176  196
 [9,] 18   38   58   78    98  118  138  158  178  198
[10,] 20   40   60   80   100  120  140  160  180  200

3. Construya una matriz identidad de dimension 3 x 3. Recuerde que una matriz identidad tiene sólo unos en la diagonal principal y los demás elementos son cero.

In [8]:
valor<-c(1,0,0,0,1,0,0,0,1) #elementos en la matriz
B <- matrix(data = valor, nrow=3, ncol=3, byrow=FALSE)
B

     [,1] [,2] [,3]
[1,] 1    0    0
[2,] 0    1    0
[3,] 0    0    1

4. Construya una lista con los anteriores tres objetos creados.

In [9]:
lista <- list(E1 = a, E2 = A, E3 = B)
lista

$E1
 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S"
[20] "T"

$E2
      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,]    2   22   42   62   82  102  122  142  162   182
 [2,]    4   24   44   64   84  104  124  144  164   184
 [3,]    6   26   46   66   86  106  126  146  166   186
 [4,]    8   28   48   68   88  108  128  148  168   188
 [5,]   10   30   50   70   90  110  130  150  170   190
 [6,]   12   32   52   72   92  112  132  152  172   192
 [7,]   14   34   54   74   94  114  134  154  174   194
 [8,]   16   36   56   76   96  116  136  156  176   196
 [9,]   18   38   58   78   98  118  138  158  178   198
[10,]   20   40   60   80  100  120  140  160  180   200

$E3
     [,1] [,2] [,3]
[1,]    1    0    0
[2,]    0    1    0
[3,]    0    0    1

5. Construya un marco de datos o data frame con las respuestas de 3 personas a las preguntas:
(a) ¿Cuál es su edad en años?
(b) ¿Tipo de música que más le gusta? (c) ¿Tiene usted pareja sentimental estable?

In [11]:
edad <- c(10, 15, 21)
musicafav <-c('pop', 'rock', 'clasica')
pareja <- c('TRUE','FALSE', 'TRUE')
C <- data.frame(edad, musicafav, pareja)
C

  edad musicafav pareja
1 10   pop       TRUE
2 15   rock      FALSE
3 21   clasica   TRUE

6. ¿Cuál es el error al correr el siguiente código? ¿A qué se debe?

In [ ]:
edad <- c(15, 19, 13, NA, 20)
deporte <- c(TRUE, TRUE, NA, FALSE, TRUE)
comic_fav <- c(NA, 'Superman', 'Batman', NA, 'Batman')
matrix(edad, deporte, comic_fav)

ERROR: ignored

El error está en que los elementos de la matriz no son todos del mismo tipo (numéricos).

## Capítulo 5: Funciones básicas de R

1. ¿Qué cantidad de dinero sobra al repartir $10000 entre 3 personas?

In [12]:
x <- 10000%%3
x

[1] 1

2. ¿Es el número 4560 divisible por 3?

In [14]:
ifelse(4560%%3 == 0, 'Es divisible por 3', 'No es divisible por 3')

[1] "Es divisible por 3"

3. Construya un vector con los números enteros del 2 al 87. ¿Cuáles de esos números son divisibles por 7?

In [17]:
z <- c(2:87)
z <- z[z%%7==0]
z

 [1]  7 14 21 28 35 42 49 56 63 70 77 84

4. Construya dos vectores, el primero con los números enteros desde 7 hasta 3, el segundo vector con los primeros cinco números positivos divisibles por 5. Sea A la condición de ser par en el primer vector. Sea B la condición de ser mayor que 10 en el segundo vector. ¿En cuál de las 5 posiciones se cumple A y B simultáneamente?

In [20]:
A <- c(7:3)
cont1 <- 0
num.div <- 1 #números divisibles por 5
hist <- NULL #vector vacio para almacenar
while (num.div < 6){
  cont1 <- cont1 + 1
  hist[num.div] <- cont1
  if(cont1 %% 5 == 0){
    num.div <- num.div + 1
  }
}
B <- c(hist)

Ambos <- c(ifelse(A %% 2 == 0 & B > 10 , rank(-A), '' ))
print('la posición ')
Ambos[Ambos== rank(-A)]

[1] "la posición "

[1] "4"

5. Consulte este enlace en el cual hay una anéctoda de Gauss niño. Use R para obtener el resultado de la suma solicitada por el profesor del niño Gauss.

In [21]:
sum(1:100)

[1] 5050

6. Construya un vector con los siguientes elementos: 1, -4, 5, 9, -4. Escriba un procedimiento para extraer las posiciones donde está el valor mínimo en el vector.

In [22]:
C <- c(1, -4, 5, 9, -4)
which(C == min(C))

[1] 2 5

7. Calcular 8!

In [23]:
prod(1:8)

[1] 40320

8. Evaluar la suma ![ej 7.png]()

In [24]:
x <- 0
for(i in 3:7){
  x <- x + exp(i)
}
x

[1] 1723.159

9. Evaluar la siguiente productoria: ![cap 5 ej 9.png]()

In [25]:
x <- 1
for(i in 1:10){
  x <- x*log(sqrt(i))
}
x

[1] 0

10. Construya un vector cualquiera e inviertalo, es decir, que el primer elemento quede de último, el segundo de penúltimo y así sucesivamente. Compare su resultado con el de la función rev.

In [29]:
x <- c(1, 2, 3, 4, 5)
lon <- length(x)

for (i in lon:1){
  ind <- lon - (lon - i)
  inv <- c(x[ind])
  print(inv)
}


rev(x)

[1] 5
[1] 4
[1] 3
[1] 2
[1] 1

[1] 5 4 3 2 1

11. Create the vector:  1, 2, 3, ..., 19, 20

In [30]:
x <- c(1:20)
x

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

12. Create the vector: 20, 19, ..., 2, 1

In [31]:
x <- c(20:1)
x

 [1] 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1

13. Create the vector: 1, -2, 3, -4, 5, -6, ..., 19, -20

In [32]:
y <- c(1:20)
y1 <- ifelse(y %% 2 == 0, y * -1, y)
y1

 [1]   1  -2   3  -4   5  -6   7  -8   9 -10  11 -12  13 -14  15 -16  17 -18  19
[20] -20

14. Create the vector: 0.1^3, 0.2^1, 0.1^6, 0.2^4, ..., 0.1^36, 02^34

In [33]:
z <- rep(x=c(0.1,0.2), len=24)
z

 [1] 0.1 0.2 0.1 0.2 0.1 0.2 0.1 0.2 0.1 0.2 0.1 0.2 0.1 0.2 0.1 0.2 0.1 0.2 0.1
[20] 0.2 0.1 0.2 0.1 0.2

15. Calcule lo siguiente: ![cap 5 ej 15.png]()

In [34]:
y <- 0
for(i in 10:100){
  y <- y + i^3 + (4*i^2)
}
y

[1] 26852735

In [36]:
y1 <- 0
for(i in 1:25){
  y1 <- y1+ ((2^i/i) + (3^i/i^2))
}
y1

[1] 2129170437

En R hay unas bases de datos incluídas, una de ellas es la base de datos llamada mtcars. Para conocer las variables que están en mtcars usted puede escribir en la consola ?mtcars o también help(mtcars). De la base mtcars obtenga bases de datos que cumplan las siguientes condiciones.

In [37]:
help(mtcars)

Los datos se extrajeron de la revista estadounidense Motor Trend de 1974 y comprenden el consumo de combustible y 10 aspectos del diseño y rendimiento del automóvil para 32 automóviles (modelos 1973 - 74)

Un marco de datos con 32 observaciones sobre 11 variables (numéricas)

*   **mpg** Millas/ galón (EE.UU.)
*   **cyl** Número de cilindros
*   **disp** Desplazamiento
*   **hp** Potencia bruta
*   **drat** Relación del eje trasero
*   **wt** Peso (1000 lbs)
*   **qsec** 1/4 de milla de tiempo
*   **vs** Motor (0 = forma de V, 1= recto)
*   **am** Transmisión ( 0 = automática, 1 = manual)
*   **gear** Número de marchas hacia adelante
*   **carb** Número de carburadores

In [38]:
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

22. Autos que tengan un rendimiento menor a 18 millas por galón de combustible.

In [39]:
subset(mtcars, subset = mpg < 18)

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8

23. Autos que tengan 4 cilindros.

In [40]:
subset(mtcars, subset = cyl == 4)

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

24. Autos que pesen más de 2500 libras y tengan transmisión manual.

In [41]:
subset(mtcars, subset = wt > 2.5 & am == 1)

               mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Ford Pantera L 15.8 8   351  264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino   19.7 6   145  175 3.62 2.770 15.50 0  1  5    6
Maserati Bora  15.0 8   301  335 3.54 3.570 14.60 0  1  5    8
Volvo 142E     21.4 4   121  109 4.11 2.780 18.60 1  1  4    2